<section class="flex">

  <app-nav-bar></app-nav-bar>

  <header class="
      px-4
      py-4
      bg-white
      border-b border-b-gray-200
      flex
      justify-between
      rounded
      mb-12
      flex-1
    ">
    <div class="text-gray-500 font-bold">
      <h1 class="fon-bold text-2xl">Pfe Islem</h1>
      <!-- <div class="w-16 h-16 rounded-full bg-green-100 flex items-center justify-center">D</div> -->
      <span class="block"></span>
    </div>
    <div class="relative">
      <div class="
          w-16
          h-16
          rounded-full
          bg-indigo-400
          text-white
          flex
          items-center
          justify-center
        ">
        <div class="w-16 h-16 rounded-full bg-indigo-200 flex items-center justify-center">
          <span class="text-xl text-indigo-700">I</span>
        </div>
      </div>
      <ul class="bg-white shadow absolute w-64 py-1 right-0 rounded">
        <li>
          <div class="w-full p-2 hover:bg-gray-100">Islem limam</div>
        </li>
        <li>
          <div class="w-full p-2 hover:bg-gray-100">Déconnexion</div>
        </li>
      </ul>
    </div>
  </header>
</section>