<section>
  <nav class="max-w-7xl mx-auto relative z-50 md:flex justify-between items-center py-4">
      <img src="../../assets/images/logo.png" alt="" class="w-24">
      <ul class="flex items-center text-blue-800 font-normal">
          <li class="mr-1">
              
              <span class="block px-3 py-2 rounded-lg hover:bg-blue-200 text-center" routerLink="/">
                  
                  <span class="block">Acceuil</span>
              </span>
          </li>
          <li class="mr-1">
              <span class="block px-3 py-2 rounded-lg hover:bg-blue-200 text-center" routerLink="/produits">
                  <ion-icon name="bulb-outline" class="text-blue-800 text-2xl"></ion-icon>
                  <span class="block">Nos produits</span>
              </span>
          </li>
          <li class="mr-1">
              <span class="block px-3 py-2 rounded-lg bg-blue-200 text-center" routerLink="/a-propos">
                  
                  <span class="block"> A propos</span>
              </span>
          </li>
          <li class="mr-1">
              <span class="block px-3 py-2 rounded-lg bg-purple-500 text-center text-white" routerLink="/inscription">
                  
                  <span class="block">Inscription</span>
              </span>
          </li>
          <li>
              <span class="block px-3 py-2 rounded-lg bg-purple-500 text-center text-white" routerLink="/connexion">
                  
                  <span class="block">Connexion</span>
              </span>
          </li>
      </ul>
  </nav>
  <header class="relative" style="height: 600px;">
      <div class="absolute top-0 z-10 w-full" style="height: 600px;">
          <img src="../../assets/images/header.jpeg" alt="" class="w-full">
      </div>
      <div class="absolute top-0 z-20 bg-gray-800 bg-opacity-50 w-full" style="height: 600px;">
      </div>
      <div class="absolute top-0 z-30 bg-gray-800 bg-opacity-50 w-full flex items-center px-24" style="height: 600px;">
          <div class="max-w-xl">

              <span class="block text-8xl text-sm text-white mb-4">
                  Bienvenue Dans Notre site
              </span>
              <p class="tracking-wider leading-loose text-gray-100 mb-24 ">
                  De la couverture de la semaine de la mode et des stars les mieux habillées sur le tapis rouge, au chic dans les rues et aux tendances à surveiller cette saison
              </p>
              <button class="block px-12 py-3 rounded bg-purple-500 text-white">En Savoir Plus</button>
          </div>
      </div>
  </header>
  
  <div class="text-center py-4">
      <p class="tracking-wider leading-loose text-sm text-gray-800">
          Tous Droit Réservee 2021-2020
      </p>
  </div>
</section>